{% extends 'base.html' %}

{% block content %}

<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg text-white fixed-top"
  style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%)"
>
  <div class="container">
    <a class="navbar-brand text-white" href="#"
      ><img src="/media/projects/images/logo.png" style="width: 120px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/home/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#latest">Latest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#featured">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#categories">Categories</a>
        </li>
      </ul>

      <!-- Search Form -->
      <form
        method="GET"
        action="{% url 'search_projects' %}"
        class="d-flex"
        role="search"
      >
        <input
          class="form-control me-2"
          type="search"
          name="query"
          placeholder="Search"
          aria-label="Search"
          value="{{ query }}"
        />
        <button
          class="btn"
          type="submit"
          style="
            background-color: white;
            border: 2px solid #764ba2;
            color: #764ba2;
            letter-spacing: 0.5px;
          "
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>


<div
  class="project-list-container"
  style="
    background: linear-gradient(135deg, #f5f7fa 0%, #e4e8f0 100%);
    padding: 5rem 0;
  "
>
<div class="container mt-3">
  <h2 class="mb-4">Projects in "{{ category.name }}"</h2>
  <div class="row">
    {% for project in projects %}
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow-sm ">
          {% with project.images.all.first as first_image %}
            {% if first_image %}
              <img src="{{ first_image.image.url }}" class="card-img-top" alt="{{ project.title }}">
            {% endif %}
          {% endwith %}
          <div class="card-body d-flex flex-column justify-content-between" style="padding: 1rem;">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text"style="flex-grow: 1;">{{ project.details|truncatechars:100 }}</p>
            <a href="{% url 'projects:project_detail' project.id %}" class="btn mt-2 w-100" style="border: 1px solid #764ba2; color: #764ba2; background-color: white;"
            onmouseover="this.style.backgroundColor='#764ba2'; this.style.color='white';"
            onmouseout="this.style.backgroundColor='white'; this.style.color='#764ba2';"
            >View</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No projects found in this category.</p>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
